<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.bookcita">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_button_bookcita_2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_button_bookcita_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookCita">
        <activity
            android:name=".SaisieManuelleCitationActivity"
            android:exported="false" />
        <activity
            android:name=".ModifierLivreBD"
            android:exported="false" />
        <activity
            android:name=".DetailsLivreBD"
            android:exported="false" />
        <activity
            android:name=".AjoutCitationActivity"
            android:exported="false" />
        <activity
            android:name=".ImportTxtFileActivity"
            android:exported="false" />
        <activity
            android:name=".CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".ScannerISBNActivity"
            android:exported="false" />
        <activity
            android:name=".ImportCitationsAnnotationsJSON"
            android:exported="false" />
        <activity
            android:name=".AjouterUnLivre"
            android:exported="false" />
        <activity
            android:name=".DetailsLivreISBN"
            android:exported="false" />
        <activity
            android:name=".ListeDesLivresBD"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".NoInternetActivity" />
        <activity android:name=".login.ResetPaswordActivity" />
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".login.LoginActivity"/>
    </application>

</manifest>