<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.bookcita">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/icon_button_bookcita_2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_button_bookcita_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookCita">
        <activity
            android:name=".activity.DetailsCitationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListeCitationsFromOneBookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScanOCR_SelectionnerCitationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SaisieManuelleCitationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ModifierLivreBD"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsLivreBD"
            android:exported="false" />
        <activity
            android:name=".activity.AjoutCitationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImportTxtFileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScannerISBNActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImportCitationsAnnotationsJSON"
            android:exported="false" />
        <activity
            android:name=".activity.AjouterUnLivre"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsLivreISBN"
            android:exported="false" />
        <activity
            android:name=".activity.ListeDesLivresBD"
            android:exported="false" />
        <activity
            android:name=".activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity android:name=".activity.NoInternetActivity" />
        <activity android:name=".login.ResetPaswordActivity" />
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".login.LoginActivity" />
    </application>

</manifest>